<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="container-main p-3">
        <header>
            <h1>SegureMe Poll</h1>
        </header>
        <main>
            <h2>Estatisticas dos usuários</h2>
            <p>Avaliações: <%= contagemAvaliacoes %></p>
            <p>Média das notas: <%= mediaNotas %></p>
            <p>Notas menores que cinco: <%= notasMenor5 %></p>
            <p>Notas maiores ou igual a sete: <%= notasMaior7 %></p>
            <p>Notas dez: <%= notasDez %></p>
            <div class="text-center">
                <a href="/" class="btn btn-secondary rounded-pill">Retornar</a>
            </div>
        </main>
    </body>
</html>
