<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="container-main p-3">
        <header>
            <h1>SegureMe Poll</h1>
        </header>
        <main>
            <h2><a href="/avaliacoes/estatisticas">Estatisticas dos usuários</a></h2>
            <form action="/" method="post">
                <% for (const pergunta of perguntas) { %>
                    <section>
                        <h3><%= pergunta.texto %></h3>
                        <p>Sim <input type="radio" name="pergunta<%= pergunta.id %>" id="radio-pergunta-<%= pergunta.id %>-1" value="true"></p>
                        <p>Não <input type="radio" name="pergunta<%= pergunta.id %>" id="radio-pergunta-<%= pergunta.id %>-2" value="false" checked></p>
                    </section>
                <% } %>
                <div class="row mb-2 justify-content-center">
                    <section class="col-xs-12 col-md-6">
                        <input type="text" name="subUsuario" id="subUsuario" placeholder="Apelido" aria-label="Apelido" class="form-control" required>
                    </section>
                </div>
                <div class="text-center">
                    <button type="submit" value="accept" class="btn btn-secondary rounded-pill">enviar</button>
                </div>
            </form>
        </main>
    </body>
</html>
